:root {
    --button-active: #86bbd1;
    --button-edit: #d1e64a;
    --button-delete: #d05959;
    --button-completed: #59d059;

}




*{
    box-sizing: border-box;
}



body {
    margin: 0;
    padding: 0;
    background: #f4f4f9;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    background:;
}

h1{
    display: flex  ;
    margin-left: 60px;
    margin-top: 11px;
    justify-items: center;
    cursor: pointer;
    position: relative;
    

    
    
}

h1::after{
    color: #761616;
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #761616;
    bottom: -6px;
    left: 0 ;
    width: 0%;
    transition: width 02s ease ;
}

h1:hover::after {
    color: #761616;
    width: 100%;
}
h1:hover {
    color: #761616;
    transition: color 0.8s ;
    text-shadow: 0 2px rgba(0,0,0,0.2);
}
.header-1 {
    display: flex;
    background: #b3b4b4;   
    margin-bottom: 10px;
    height: 100px;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.header-1:hover {
    background: #a0a0a0;
    box-shadow: 2px 2px rgba(0,0,0,0.3);
}

#todoInput {
width: 75%;
padding: 10px;
margin-right: 10px ;
border: 2 px solid #ccc;
border-radius: 5px;

}
#addTodo     {
    padding: 10px 20px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease;
    box-shadow: 0 0px #fff;
}

#addTodo:hover {
    background: var(--button-active);
    box-shadow: 0 0px rgba(213, 235, 205, 0.2);
}   
#addTodo:active {
    transform: translateY(1px);
    box-shadow: 0  #d5d4d4;
}


ul {
    list-style-type: none;
    padding: 0;
}


li:hover{
    background: #d0e1f1;
    box-shadow: 0 2px rgba(0,0,0,0.2);
}
li {
    background: #f8f9fa;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px rgba(0,0,0,0.1);
}

.filterBtn {
    background: #5797ac;
    margin-left: 5px;
    padding: 4px 6px;
    margin-top: 5px;
}



.filterBtn:hover{
    background: #a55454;
    box-shadow: 0 3px rgba(88, 87, 87, 0.2);
    cursor: pointer;
}

.toDoItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    margin-left: auto;
    color: #717070;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.editButton , .deleteButton , .completedButton {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    transition: all 0.1s ease;
    box-shadow: inset;
}

.editButton:hover {
    background: rgb(208, 208, 134)
}

.deleteButton:hover {
    background: rgb(197, 95, 95);
}

.completedButton:hover {
    background: rgb(95, 197, 95);
}

.banaslogo {
    margin-left: -15px;
    margin-top: -15px;
}

.todoButtons {
    
    
}